
samples

*.cer

cmd/cmd

*.pem

cmd/signpass

*.pkpass

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#*.*#
*.*~
*.*.sw*
conf/migrations.yml
*.test
test.go
eticket
error.log
